<h1>Listing items</h1>
<p>
  <em>Gray rows indicate a discontinued item.</em>
</p>


<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Category</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <% item.discontinued == true ? item_class = "discontinued" : item_class = "active" %>
      <tr class='<%= item_class %>'>
        <td><%= item.id %></td>
        <td><%= link_to item.category.name, item.category if item.category %></td>
        <td><%= link_to item.name, item %></td>
        <td><%= item.description %></td>
        <td>
          <%= link_to "Edit Item", edit_item_path(item), class: "button button-edit" %>
          <%= link_to "New Transaction", new_item_transaction_path(item), class: "button button-new" if item.discontinued == false %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @category %>
  <%= link_to "New #{@category.name} Item", new_category_item_path(@category), class: "button button-new" %>
<% else %>
  <%= link_to 'New Item', new_item_path, class: "button button-new" %>
<% end %>