<p id="notice"><%= notice %></p>

<h1>Item: <%= @item.name %></h1>

<p>
  <strong>Category:</strong>
  <%= link_to @item.category.name, @item.category if @item.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Current Balance:</strong>
  <%= @balance %>
</p>
<hr />
<p>
  <strong>First Delivery Date:</strong>
  <%= @item.first_delivery_date %><br />
  <strong>Total Sales:</strong>
  <%= @item.total_sales %><br />
  <strong>Recent Sales:</strong>
  <%= @item.recent_sales %> in last four weeks<br />
  <strong>Weeks of stock:</strong>
  <% if @item.recent_sales == 0 %>
    "Not applicable."
  <% else %>
    <%= (@balance / (@item.recent_sales / 4.0)).round(1) %>
  <% end %>
</p>
<hr />
<p>
  <%= link_to "Edit #{@item.name}", edit_item_path(@item), class: "button button-edit" %>
  <%= link_to "New Transaction", new_item_transaction_path(@item), class: "button button-new" %>
</p>

<% if !@transactions.blank? %>
  <table>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Code</th>
      <th>Item</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.code %></td>
        <td><%= transaction.item.name %></td>
        <td><%= transaction.amount %></td>
        <td>
          <%= link_to "Edit", edit_item_transaction_path(transaction.item, transaction), class: "button button-edit" %>
          <%= link_to 'Delete', [transaction.item, transaction], method: :delete, class: 'button button-delete', data: { confirm: 'Are you sure?'} if transaction.item.id %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

