<%= simple_form_for [@item, @transaction] do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @balance %>
    <p>Current Inventory: <%= @balance %></p>
  <% end %>
  <%= f.input :item_id, as: :hidden %>
  <%= f.input :code, collection: @transaction.code_list %>
  <%= f.input :date %>
  <%= f.input :amount %>
  <%= f.button :submit %>
<% end %>
