<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Code</th>
      <th>Item</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.code %></td>
        <td><%= link_to transaction.item.name, transaction.item if transaction.item %></td>
        <td><%= transaction.amount %></td>
        <td>
          <%= link_to 'Edit', edit_item_transaction_path(transaction.item, transaction), class: "button" %>
          <%= link_to 'Delete', [transaction.item, transaction], method: :delete, class: 'button', data: { confirm: 'Are you sure?'} if transaction.item.id %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @item %>
<p>
  <%= link_to "New Transaction for #{@item.name}" , new_item_transaction_path(@item), class: "button" %>
</p>
<% end %>