<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= link_to @transaction.item.name, @transaction.item %>
</p>

<p>
  <strong>Code:</strong>
  <%= @transaction.code %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<%= link_to 'Edit', edit_item_transaction_path(@item, @transaction) %>