<h1>Current Inventory:</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Description</th>
    <th>Total</th>
    <th>Wks Left</th>
    <th>Actions</th>
  </tr>
<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.category.name, item.category if item.category %></td>
    <td><%= link_to item.name, item %></td>
    <td><%= item.description %></td>
    <td><%= item.transactions_sum %></td>
    <td>
      <% if item.recent_sales == 0 %>
        -
      <% else %>
        <%= (item.transactions_sum / (item.recent_sales / 4.0)).round(1) %>
      <% end %>
    </td>
    <td>
      <%= link_to "Edit Item", edit_item_path(item), class: "button" %>
      <%= link_to "New Transaction", new_item_transaction_path(item), class: "button" %>
    </td>
  </tr>
<% end %>
</table>