<!DOCTYPE html>
<html>
<head>
  <title>Inventory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>

<%= yield %>

<p>
  <%= "APP_CONFIG[:username]: #{APP_CONFIG[:username]}" %>
</p>
<p>
  <%= "APP_CONFIG[:password]: #{APP_CONFIG[:password]}" %>
</p>
<p>
  <%= "ENV['ADMIN_USERNAME']: #{ENV['ADMIN_USERNAME']}" %>
</p>
<p>
  <%= "ENV['ADMIN_PASSCODE']: #{ENV['ADMIN_PASSCODE']}" %>
</p>
</body>
</html>
